<!DOCTYPE html>
<html>
<head>
	<title>Buy Now</title>
	<link rel="stylesheet" type="text/css" href="/static/charity.css">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>

    </div>
    <div id="myNavbar">
      <ul class="nav navbar-nav navbar-left">
        <li><a href="{{url_for('home_page')}}">HOME</a></li>
        <li><a href="{{url_for('all_charities')}}">CHARITIES</a></li>

      </ul>
    </div>
    <div id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">{{ session["username"]}}
          <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="{{ url_for('profile', username =session['username']) }}">Profile</a></li>
            <li><a href="{{ url_for('upload_file') }}">Upload an Image</a></li>
            <li><a href="{{ url_for('logout') }}">Logout</a></li> 
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
<br>
<a href="/static/user_images/{{ photo.pic }}" download="jkl"><img src="/static/user_images/{{ photo.pic }}" width="250" height="250"></a>
<h5 class="profile_name">Seller: <a href="{{ url_for('profile', username = user.username)}}">{{ user.username }}</p></a>
<p class="profile_email">Price: {{ photo.price }} {{ photo.currency }}s </p>
<p class="profile_email">{{ photo.percentage }} % of the price goes to charity</p>

<form class="profile_email">
     <fieldset>
          <legend>Selecting elements</legend>
          <p>
             <label>Charity</label>
             <select id = "myList">
             {% for i in charities %}
               <option >{{ i.name }}</option>
              {% endfor %}
             </select>
          </p>
       </fieldset>
</form>
<p class="profile_email">To get the image please press on the image</p>
</body>
</html>