<!DOCTYPE html>
<html>
<head>
	<title>Homepage</title>
	<link rel="stylesheet" type="text/css" href="/static/style.css">
  <meta http-equiv="imagetoolbar" content="no" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body oncontextmenu="return false;">

<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>

    </div>
    <div id="myNavbar">
      <ul class="nav navbar-nav navbar-left">
        <li><a href="{{url_for('home_page')}}">HOME</a></li>
        <li><a href="{{url_for('all_charities')}}">CHARITIES</a></li>
        <li><a href="{{url_for('about')}}">ABOUT US</a></li>

      </ul>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="{{url_for('signin')}}">LOGIN</a></li>
        <li><a href="{{url_for('signup')}}">SIGNUP</a></li>
      </ul>
    </div>
  </div>
</nav>
<!-- First Container -->
<div class="container-fluid bg-1 text-center">
  <h3 class="margin">Pic 'N Choose</h3>
  <img src="/static/img/logo2.jpg" style="display:inline" alt="logo" width="200" height="241">
  <br>
  <br>
  <br>
  <h3>"Giving is not just about making a donation... It's about making a difference!" - Kathy Calvin</h3>
</div>

<!-- Second Container -->
<div class="container-fluid bg-2 text-center">
  <h3 class="margin">What Am I?</h3>
  <p>“Pic ‘n choose”  is a very modern and user friendly platform aimed to help people find photographs at a reasonable price while also helping a charity of their choice. It also aims to help professional and amateur photographers sell their work while also doing good for the world. Users can simply upload the image they want to sell, set the price and pick the percentage that goes to charity. Then our image recognition feature will help produce tags to help other users find the image easily and quickly. </p>

</div>

<!-- Third Container (Grid) -->
<div class="container-fluid bg-3 text-center">    
  <h3 class="margin">How to use me?</h3><br>
  <div class="row">
    <div class="col-sm-4">
    <h1>1st</h1>
      <p>Signup and login.</p>
    </div>
    <div class="col-sm-4"> 
      <h1>2nd</h1>
      <p>Upload an image you took,set the price,keywords and the precentage that goes to charity.</p>
      
    </div>
    <div class="col-sm-4"> 
      <h1>3rd</h1>
      <p>Select an image you like from the home page, click buy then click the image. It will automatically download.</p>
    </div>
  </div>
</div>
<footer class="container-fluid bg-4 text-center">
  <p>Copyright 2019 Pic'N Choose</p> 
</footer>
</body>
</html>