<!DOCTYPE html>
<html>
<head>
	<title>Selected Image</title>
  <meta http-equiv="imagetoolbar" content="no" />
	<link rel="stylesheet" type="text/css" href="/static/img.css">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body oncontextmenu="return false;">
<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>

    </div>
    <div id="myNavbar">
      <ul class="nav navbar-nav navbar-left">
        <li><a href="{{url_for('home_page')}}">HOME</a></li>
        <li><a href="{{url_for('all_charities')}}">CHARITIES</a></li>
        <li><a href="{{url_for('about')}}">ABOUT US</a></li>
      </ul>
    </div>
    <div id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">{{ session["username"]}}
          <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="{{ url_for('profile', username =session['username']) }}">Profile</a></li>
            <li><a href="{{ url_for('upload_file') }}">Upload an Image</a></li>
            <li><a href="{{ url_for('logout') }}">Logout</a></li> 
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
<br>
{% if buy == False %}
<div class="c111">
<p>Sold by: <a href="{{ url_for('profile', username = user.username)}}">{{ user.username }}</p></a>
<br>
<span class="same_line">Keywords:</span>
{% for i in photo.keyword %}
<button class="same_line" > <a href="{{ url_for('similar_keys', keyword = i)}}">{{ i }}</a></button>
{% endfor %}
<br>
<br>
<p>Price: {{ photo.price }} {{ photo.currency }} </p>
<p>{{ photo.percentage }}% of the price goes to charity ({{ percent_price }} {{ photo.currency }})</p>
<form action="{{ url_for('clicked_img', pic = photo.pic, buy = True) }}" method="POST">
  <input type="submit" name="buy" value="buy">


</form>
</div>
<br>
<img src="/static/user_images/{{ photo.pic }}" height="500px" class="user_pic">
{% endif %}
{% if buy == True %}


<div class="c222">

<p >Seller: <a href="{{ url_for('profile', username = user.username)}}">{{ user.username }}</a></p>
<p >Price: {{ photo.price }} {{ photo.currency }} </p>
<p>{{ photo.percentage }} % of the price goes to charity ({{ percent_price }} {{ photo.currency }})</p>

<form>
     <fieldset>
          <legend>Select a Charity</legend>
          <p>
             <label>Charities</label>
             <select id = "myList">
             {% for i in charities %}
               <option >{{ i.name }}</option>
              {% endfor %}
             </select>
          </p>
       </fieldset>
</form>
<p >To get the image please press on it</p>
</div>

<a href="/static/user_images/{{ photo.pic }}" download="photo" ><img src="/static/user_images/{{ photo.pic }}" height="500px" class="user_pic_2" ></a>
{% endif %}
</body>
</html>