<!DOCTYPE html>
<html>
<head>
	<title>Sign Up Now</title>
	<link rel="stylesheet" type="text/css" href="/static/signup_style.css">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body background="/static/img/signup4.jpg">
<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>

    </div>
    <div id="myNavbar">
      <ul class="nav navbar-nav navbar-left">
        <li><a href="{{url_for('home_page')}}">HOME</a></li>
        <li><a href="{{url_for('all_charities')}}">CHARITIES</a></li>

      </ul>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="{{url_for('signin')}}">LOGIN</a></li>
        <li><a href="{{url_for('signup')}}">SIGNUP</a></li>
      </ul>
    </div>
  </div>
</nav>
<br>
<div class="form_div">
<div class="j">
<h1 id="login_title">Sign Up</h1>
<p>Already have an account? <a href="{{ url_for('signin') }}" >Log in here</a></p>
<form action="{{url_for('signup')}}" method = "POST" enctype=multipart/form-data >
	<input type="text" name="username" placeholder="Username">
	<br>
	<input type="email" name="email" placeholder="Email">
	<br>
	<input type="password" name="password" placeholder="Password">
	<br>	
	Profile Picture: <input type=file name=file >
	<br>
	<input type="submit" value="Submit" class="btn">
</form>

{% if failed == True %}
	<h4> You can only upload images</h4>
{% endif %}
</div>
</div>
</body>
</html>
